pytz
python-slugify
Pillow
argon2-cffi
redis
celery
django-celery-beat
flower
django
django-environ
django-model-utils
django-allauth
django-crispy-forms
django-redis
djangorestframework
django-oauth-toolkit
django-cors-middleware
django-cors-headers
coreapi
Werkzeug
ipdb
Sphinx
psycopg2
mypy
pytest
pytest-sugar
flake8
coverage
black
pylint-django
pylint-celery
pre-commit
factory-boy
django-debug-toolbar
django-extensions
django-coverage-plugin
pytest-django
